*{
    margin: 0;
    padding:0;
}

html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    background-color: #6acccc;
}

h2{
    font-size: 40px;
    text-align: center;
    background-color: #6acccc;
    padding: 2rem;
}

section{
    width: 100%;
    display:flex;
}

.container{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.accordion_item{
    background-color: #1aae79;
    border-radius: .4rem;
    margin-bottom: 1rem;
    padding: 0.2rem;
}

.accordion_link{
    font-size: 1.6rem;
    color: rgba(0,0,0);
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}


.accordion_link i{
    color: #e7d5ff;
    padding: .5rem;
}

.accordion_link .icon_minus{
    display:none;
}

.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    color: rgba(255,255,255,.6);
    background-color: #5dadd5;
    border-radius: .4rem;
}


.answer::before{
    content:"";
    position: absolute;
    width: 1rem;
    color:black;
}

.answer p{
    font-size: 1.4rem;
    color: #fff;
}

.accordion_item:target  .answer{
    max-height: 20rem;
}

 /* CONTACT CARDS */
    .contact-section {
      margin-top: 60px;
      text-align: center;
    }

    .cards {
      display: flex;
      justify-content: center;
      gap: 30px;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    .card {
      background: #0a3e2f;
      width: 260px;
      border-radius: 10px;
      padding-bottom: 20px;
      text-align: center;
      box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    }

    .card img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

    .card h3 {
      margin: 10px 0 0;
      font-size: 18px;
    }

    .card p {
      margin: 5px 0;
      font-size: 14px;
    }

    .icons {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      gap: 12px;
    }

    .icon {
      width: 22px;
      height: 22px;
      background: #fff;
      border-radius: 50%;
    }
