/*incentives section*/
.incentives-section{
    background-color:#00ced1;
    text-align:center;
    width:100%;
    height:100vh;
    gap:20px;
}
.incentives-container{
    align-items: center;
    display:grid;
    grid-template-columns:250px 250px;
    grid-gap:30px;
    padding-left:300px;
}
.incentive-item{
    background-color: white;
    width:250px;
    height: 120px;
    border-radius: 10px;
    margin-left:50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    text-align: center;
}
.incentive-item-1{
background-color: white;
    width:200px;
    height: 120px;
    border-radius: 10px;
    margin-left:100px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    text-align: center;
}
.incentive-item-2{
background-color: white;
    width:200px;
    height: 120px;
    border-radius: 10px;
    margin-left:50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    text-align: center;
}
.incentive-item-3{
    background-color: white;
    width:180px;
    height: 120px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    border-radius: 10px;
    margin-left:225px;
}
.incentive-item img{
    width:50px;
    height:50px;
    padding-top:10px;
}
.incentive-item-1 img{
    width:50px;
    height:50px;
    padding-top:10px;
}
.incentive-item-2 img{
     width:50px;
     height:50px;
     padding-top:10px;
}
.incentive-item-3 img{
     width:50px;
     height:50px;
     padding-top:10px;
}
.incentive-item p{
    font-size: 15px;
}
h1{
    padding-top:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*----------responsive design for incentives section----------*/
@media screen and (max-width:600px) {
    .incentives-container{
        grid-template-columns: 1fr;
        justify-content: center;
        padding-left: 0;
    }
    .incentives-section{
        height: auto;
        padding-bottom: 20px;
    }
    .incentive-item, .incentive-item-1, .incentive-item-2, .incentive-item-3{
        width:250px;
        margin-left: 100px;
        padding-left:0;
    }
    h1{
        font-size: 24px;
    }
}
