body{
    font-family:Arial, sans-serif;
    padding-left:250px;
    box-sizing:border-box ;
}
/*incentives section*/
.incentives-section{
    background-color:#00ced1;
    text-align:center;
    padding: 50px 20px;
    width:660px;
    height: 500px;
    gap:20px;
}
.incentives-container{
    align-items: center;
    display:grid;
    grid-template-columns:250px 250px;
    grid-gap:30px;
}
.incentive-item{
    background-color: white;
    width:250px;
    height: 120px;
    border-radius: 10px;
    margin-left:50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    text-align: center;
}
.incentive-item-1{
background-color: white;
    width:200px;
    height: 120px;
    border-radius: 10px;
    margin-left:100px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    text-align: center;
}
.incentive-item-2{
background-color: white;
    width:200px;
    height: 120px;
    border-radius: 10px;
    margin-left:50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    text-align: center;
}
.incentive-item-3{
    background-color: white;
    width:180px;
    height: 120px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
    border-radius: 10px;
    margin-left:225px;
}
.incentive-item img{
    width:50px;
    height:50px;
    padding-top:10px;
}
.incentive-item-1 img{
    width:50px;
    height:50px;
    padding-top:10px;
}
.incentive-item-2 img{
     width:50px;
     height:50px;
     padding-top:10px;
}
.incentive-item-3 img{
     width:50px;
     height:50px;
     padding-top:10px;
}
.incentive-item p{
    font-size: 15px;
}
h2{
    padding-bottom: 20px;
}