body{
    font-family: Arial, sans-serif;
    padding-left:250px;
    box-sizing: border-box;
}

/* top stats section*/
.stats-section{
    background-color:#00b9bc;
    text-align:center;
    width:700px;
    height:350px;
    margin-top: 190px;
    margin-left: 140px;
}
.stats-container{
    justify-content: center;
    gap: 30px;
    height:150px;
    padding-bottom:100px;
    display: flex;
}
.stat-item img{
    width: 50px;
}
h3{
    color:white;
    padding:50px;
}
