/* top stats section*/
.stats-section{
    background-color:#00b9bc;
    text-align:center;
    width:100%;
    height:100vh;
}
.stats-container{
    justify-content: center;
    gap: 80px;
    display: flex;
    padding-top: 10px;
}
.stat-item img{
    width: 120px;
}
h1{
    color:white;
    padding:80px;
}
.stat-item p{
    font-size:30px;
    padding-top:10px;
}
/*--------responsive design for stats section--------*/
@media screen and (max-width:600px){
    .stats-container{
        flex-direction: column;
        text-align: center;
        gap: 40px;
    }
    .stats-section{
        height: auto;
    }
    .stat-item img{
        width: 70px;
    }
    .stat-item p{
        font-size:20px;
    }
}


