* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#maindiv2 {
    background-color: rgb(26, 153, 113);
    min-height: 60vh;
    width: 90vw;     
    max-width: 1200px;   
    margin: 5vh auto;       
    padding: 4vh 4vw;    
    border-radius: 12px;    
}

#TESTIMONIALS {
    color: white;
    padding: 3vh;
    text-align: center;
}

.img {
    width: 10vw;
}

.img > img {
    max-width: 100%;
    min-height: 100%;
}

.para {
    color: white;
    width: 75vw;
    max-width: 800px; 
    background-color: rgb(4, 79, 84);
    padding-left: .5vw;
    padding: 1rem; 
    height:188px;
}
#photo{
  margin-top: 10px;
  height: 188px;
  margin-left: 41.6px;
  margin-bottom: 7px;
}
.c1 {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap; 
    min-height: 25vh;
    gap: 1.5rem; 
}

#name {
    font-size: 2em;
}

.quot {
    height: 8vh;
}

@media (max-width: 768px) {
  .c1 {
    flex-direction: column;
    text-align: center;
  }

  .img {
    width: 50vw; 
  }

  .para {
    width: 90%;
  }
}
