* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#maindiv1 {
  min-height: 75vh;
  background-color: #014D4E;
}

h1 {
  padding-top: 4vh;
  color: white;
  text-align: center;
}

.icon-container {
  background-color: white;
  height: 5vh;
  border-radius: 10px;
  margin-right: 1.5vw;
}

.icons {
  height: 100%;
  border-radius: 8px;
}

.value {
  flex: 1;
  width: 70vw;
}

.Different-Roles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3vh;

}

h2 {
  font-size: clamp(1rem, 1.8vw, 1.25rem);
  color: aliceblue;
}

p {
  font-size: clamp(0.85rem, 1.6vw, 1rem);
  color: aliceblue;
}

@media (max-width: 768px) {
  .Different-Roles {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 0.8rem 0.6rem;
  }

  .icon-container {
    width: 56px;
    height: 56px;
    min-width: 56px;
  }

  .value {
    width: 100%;
  }
}

@media (max-width: 420px) {
  #maindiv1 {
    padding-left: 3vw;
    padding-right: 3vw;
  }

  .icon-container {
    width: 48px;
    height: 48px;
  }

  h1 {
    font-size: 1.6rem;
  }
}