* {
    margin: 0;
    padding: 0;
}

#maindiv1 {
    min-height: 75vh;
    background-color: #014D4E;
    margin: 0;
    padding: 0;
}

h1 {
    padding-top: 4vh;
    color: white;
    text-align: center;
}

.icon-container {
    background-color: white;
    height: 5vh;
    width: 5vh;
    border-radius: 10px;
    margin-right: 1.5vw;
}

.icons {
    height: 100%;
    border-radius: 8px;
}

.value {
    width: 70vw;
}

.Different-Roles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3vh;

}

h2,
p {
    color: aliceblue;
}
#maindiv2 {
    background-color: rgb(26, 153, 113);
    margin: 0;
    padding: 0;
}

.class2 {
    min-height: 60vh;
}

#TESTIMONIALS {
    padding: 10vh;
}

.img {
    width: 10vw;
}

.img>img {
    max-width: 100%;
    min-height: 100%;
}

.para {
    width: 75vw;
    background-color: rgb(4, 79, 84);
    padding-left: .5vw;
}

.c1 {
    display: flex;
    justify-content: center;
    min-height: 25vh;
}

#name {
    font-size: 2em;
}

.quot {
    height: 8vh;
}