* {
    margin: 0;
    padding: 0;
}

#maindiv1 {
    min-height: 75vh;
    background-color: #014D4E;
}

h1 {
    padding-top: 4vh;
    color: white;
    text-align: center;
}

.icon-container {
    background-color: white;
    height: 5vh;
    width: 5vh;
    border-radius: 10px;
    margin-right: 1.5vw;
}

.icons {
    height: 100%;
    border-radius: 8px;
}

.value {
    width: 70vw;
}

.Different-Roles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3vh;

}

h2,
p {
    color: aliceblue;
}