  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#maindiv2 {
    background-color: rgb(26, 153, 113);
    min-height: 60vh;
}

#TESTIMONIALS {
    color: white;
    padding: 10vh;
    text-align: center;
}

.img {
    width: 10vw;
}

.img>img {
    max-width: 100%;
    min-height: 100%;
}

.para {
    color: white;
    width: 75vw;
    background-color: rgb(4, 79, 84);
    padding-left: .5vw;
}

.c1 {
    display: flex;
    justify-content: center;
    min-height: 25vh;
}

#name {
    font-size: 2em;
}

.quot {
    height: 8vh;
}

@media (max-width: 768px) {
  .c1 {
    flex-direction: column;
    text-align: center;
  }

  .img {
    width: 100%;
  }

  .para {
    width: 100%;
  }
}  